:root {
  --colorbody-portfolio: #434455;
  --brand-color: #f4f4fd;
  --backgroundstudio: #2e2f42;
  --Third-title: #2e2f42;
  --name-team-var: #2e2f42;
  --cornflower: #e7e9fc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}
/* body */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}

ul li {
  list-style-type: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.body-studio {
  color: #434455;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
}

/* Color-body-VAR */
.body-portfolio {
  color: var(--colorbody-portfolio);
}

/* Header */
.header-portfolio {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px;
  border-color: var(--cornflower);
}
/* nav */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 147px;
}

.logo-span {
  color: #2e2f42;
}

.link-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link-list:hover,
.link-list:focus {
  color: #404bbf;
}

.all-link-list {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-block {
  display: flex;
}

/* justify-content: space-between; */
/* address */

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* main */

/* List-buttons-portfolio */
.all-button-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 0;
  gap: 24px;
  position: absolute;
  
}

.container-button-list {
  margin-top: 96px;
  padding-bottom: 120px;
  padding-left: 271px;
}


.all-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--brand-color);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* portfolio-button-VAR */
.all-button {
  background-color: var(--brand-color);
}

.all-button:hover,
.all-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* Button-Section */
.button-section {
  padding-top: 0;
}

.button-section-conteiner {
  height: 1440px;
  max-height: 519px;
}

/* Studio-button-VAR */
.button-section {
  background-color: var(--backgroundstudio);
}

.site-title {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-studio {
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background-color: transparent;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-studio:hover,
.button-studio:focus {
  color: #404bbf;
}

/* First-Section */

.text-section {
  letter-spacing: 0.02em;
  font-size: 16px;
}

.header-first-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.first-section-li:not(:last-child) {
  margin-right: 24px;
}

.first-section-li {
  width: 264px;
}

/* Second-Section */
.second-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 72px;
}

.gadget-li {
  padding-right: 24px;
}

/* Thrid-Section */

.our-team-section {
  background-color: #f4f4fd;
  margin-top: 60px;
}

/* Studio-Third-section-VAR */
.title-thrid-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Third-title);
  padding-top: 60px;
  padding-bottom: 72px;
}

.team-list {
  background-color: #ffffff;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: column;
  justify-content: center;
}

/* Studio-NameTeam-VAR */
.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--name-team-var);
}

.third-section-div {
  height: 120px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* Section portfolio */


.name-images {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.info-images {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 120px;
}

.gadget-li {
  width: 360px;
}

.portfolio-conteiner {
  border: 1px solid var(--cornflower);
  border-top: none;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 8px;
}

/* footer */
.footer-portfolio {
  background: #2e2f42;
  padding-top: 60px;
  height: 310px;
}

.logo-footer {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: flex-start;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-info {
  letter-spacing: 0.02em;
  color: #e7e9fc;
  padding-top: 16px;
  line-height: 1.5;
  width: 264px;
}


